.topcontainer {
    display: flex;
    flex-wrap: wrap; 
    width: 85%;     
    background-color: #9D0208;
    padding: 10px;
    justify-content: center;
  }
  .firstrowbox1 {
    display: flex;
    justify-content: flex-start;
    text-align: center;
    width: 40%;
    margin: 2px;
    background-color: #F48C06;
    height: 100px;
    align-items: end;
  }
  .firstrowbox2{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 2px;;
    width: 40%;
    background-color: #F48C06;
    max-height: 30%;
    align-items: stretch;
  }
  .smallboxes1{
    width: 80px;
    height: 50px;
    background-color: #9D0208;
    margin: 5px; 
    text-align: center;
    line-height: 50px;
    max-height: 100px;
    }
    .smallboxes2{
      width: 80px;
      height: auto;
      background-color: #9D0208;
      margin: 5px; 
      text-align: center;
      line-height: 50px;
      max-height: 150px;
      display: flex;
    }
    .secondrowbox1{
        display: flex;
        height: 100px;
        justify-content: flex-end;
        text-align: center;
        margin: 2px;;
        width: 40%;
        background-color: #F48C06;
        max-height: 30%;
        align-items: center;
    }
    .secondrowbox2{
      display: flex;
      justify-content: space-evenly;
      text-align: center;
      margin: 2px;;
      width: 40%;
      background-color: #F48C06;
      max-height: 30%;
      align-items: flex-start;
      
  }
  .secondrowbox4_3{
      align-self: flex-end;
      width: 80px;
      height: 50px;
      background-color: #9D0208;
      margin: 5px; 
      text-align: center;
      line-height: 50px;
      max-height: 100px;
      display: flex;
  
  }
  .thirdrowbox1{
    display: flex;
    height: 100px;
    justify-content: center;
    text-align: center;
    margin: 2px;;
    width: 40%;
    background-color: #F48C06;
    max-height: 30%;
    align-items: stretch;
    
  }
  .thirdrowbox2{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin: 2px;;
  width: 40%;
  background-color: #F48C06;
  max-height: 30%;
  align-items: flex-start;
  }
  .smallboxes5_2{
    width: 80px;
    height: 50px;
    background-color: #9D0208;
    margin: 5px; 
    text-align: center;
    line-height: 50px;
    max-height: 100px;
    align-self: center;
  
  }
  .smallboxes6_2{
    width: 80px;
    height: 50px;
    background-color: #9D0208;
    margin: 5px; 
    text-align: center;
    line-height: 50px;
    max-height: 100px;
    flex-grow: 2;
    
  }
  .bottomcontainer{
    display: flex;
    flex-wrap: wrap; 
    width: 80%;     
    background-color: #f5e423;
    height: 100%;
    padding-left: 103px;
  }
  .box1{
    background-color: rgb(4, 4, 42);
    width: 28%;
    height:60%;
    margin:5px;
    display: flex;
    flex-wrap: wrap;
     
    
  }
  .box2{
    background-color: #573301;
    width: 28%;
    height:60%;
    margin:5px;
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
    align-items: end;
  
  }
  .box3{
    background-color: rgb(4, 4, 42);
    width: 28%;
    height:60%;
    margin:5px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: flex-end;
    justify-content: center;  
     
  }
  .box4{
    background-color: #573301;
    width: 28%;
    height:60%;
    margin:5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
     
     
  }
  .box5{
    background-color: rgb(4, 4, 42);
    width: 28%;
    height:60%;
    margin:5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
     align-content: center;
     
  }
  .circle1{
    height: 65px;
    width: 65px;
    background-color: #bbb;
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
  }
  .circle2{
    height: 65px;
    width: 65px;
    background-color: #bbb;
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
  }
  .circle3{
    height: 65px;
    width: 65px;
    background-color: #bbb;
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
  }
  .circle4{
    height: 65px;
    width: 65px;
    background-color: #bbb;
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
  }
  .circle5{
    height: 65px;
    width: 65px;
    background-color: #bbb;
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
  }